@model List<Urun>
@{
    Layout = "_LayoutMenu";
}

@section style {
    <style>
        #alkol{
            background-color: var(--bg-color);
            color: var(--witeColor);
        }

        #alkol #icon{
            background-color: var(--icon-bg);
        }
        
    </style>
}

@section idAlkol {
    id="alkol"
}

@section iconAlkol {
    id="icon"
}

<hr class="divider">
                <div class="sub-menu">
                    <ul>
                        <li><a class="active" href="#fbira">Fıçı Biralar</a></li>
                        <li><a href="#sbira">Şişe Biralar</a></li>
                        <li><a href="#sarap">Şaraplar</a></li>
                        <li><a href="#likor">Likörler</a></li>
                        <li><a href="#vodka">vodkalar</a></li>
                        <li><a href="#vermut">Vermutlar</a></li>
                        <li><a href="#viski">Viskiler</a></li>
                        <li><a href="#cin">Cinler</a></li>
                        <li><a href="#ks">Kokteyl/Shotlar</a></li>
                    </ul>
                </div>
            </div>
            
            <!---------menu food list---------->
            <div class="main-detail" id="detail">
                <h2 class="main-title">Alkoller</h2>
                <div class="detail-card" id="fbira">aa</div>
                <section>
                    <div class="detail-img" id="fbira">
                        <h1 class="title-b">FIÇI BİRALAR</h1>
                        <img src="~/images/fbira.jpg" alt="">
                    </div>
                    
                    <div class="detail-wrapper">
						@foreach(var item in Model)
                                {
                                    if(item.tabloId == 9)
                                    {
                                        <div class="detail-card">
                                            <div class="detail-desc">
                                                <div class="detail-name">
                                                    <h4>@item.Name</h4>
                                                    <p class="detail-sub">@item.Description</p>
                                                    <p class="price">@item.Amount</p>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    }
                                } 
                    </div>
                </section>

                <section class="aktif">
                    <div class="detail-img" id="sbira">
                        <h1 class="title-b">ŞİŞE BİRALAR</h1>
                        <img src="~/images/sbira.jpg" alt="">
                    </div>
            
                    <div class="detail-wrapper">
                        @foreach(var item in Model)
                                {
                                    if(item.tabloId == 10)
                                    {
                                        <div class="detail-card">
                                            <div class="detail-desc">
                                                <div class="detail-name">
                                                    <h4>@item.Name</h4>
                                                    <p class="detail-sub">@item.Description</p>
                                                    <p class="price">@item.Amount</p>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    }
                                } 
                    </div>
                </section>

                <section class="aktif">
                    <div class="detail-img" id="sarap">
                        <h1 class="title-b">ŞARAPLAR</h1>
                        <img src="~/images/sarap.jpg" alt="">
                    </div>
            
                    <div class="detail-wrapper">
                        @foreach(var item in Model)
                                {
                                    if(item.tabloId == 11)
                                    {
                                        <div class="detail-card">
                                            <div class="detail-desc">
                                                <div class="detail-name">
                                                    <h4>@item.Name</h4>
                                                    <p class="detail-sub">@item.Description</p>
                                                    <p class="price">@item.Amount</p>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    }
                                } 
                    </div>
                </section>

                <section class="aktif">
                    <div class="detail-img" id="likor">
                        <h1 class="title-b">LİKÖRLER</h1>
                        <img src="~/images/likor.jpeg" alt="">
                    </div>
            
                    <div class="detail-wrapper">
                        @foreach(var item in Model)
                        {
                            if(item.tabloId == 12)
                            {
                                <div class="detail-card">
                                    <div class="detail-desc">
                                        <div class="detail-name">
                                            <h4>@item.Name</h4>
                                            <p class="detail-sub">@item.Description</p>
                                            <p class="price">@item.Amount</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            }
                        } 
                    </div>
                </section>

                <section class="aktif">
                    <div class="detail-img" id="vodka">
                        <h1 class="title-b">VODKALAR</h1>
                        <img src="~/images/vodka.jpeg" alt="">
                    </div>
            
                    <div class="detail-wrapper">
                        @foreach(var item in Model)
                                {
                                    if(item.tabloId == 13)
                                    {
                                        <div class="detail-card">
                                            <div class="detail-desc">
                                                <div class="detail-name">
                                                    <h4>@item.Name</h4>
                                                    <p class="detail-sub">@item.Description</p>
                                                    <p class="price">@item.Amount</p>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    }
                                } 
                    </div>
                </section>

                <section class="aktif">
                    <div class="detail-img"id="vermut">
                        <h1 class="title-b">VERMUTLAR</h1>
                        <img src="~/images/vermut.webp" alt="">
                    </div>
            
                    <div class="detail-wrapper">
                        @foreach(var item in Model)
                        {
                            if(item.tabloId == 14)
                            {
                                <div class="detail-card">
                                    <div class="detail-desc">
                                        <div class="detail-name">
                                            <h4>@item.Name</h4>
                                            <p class="detail-sub">@item.Description</p>
                                            <p class="price">@item.Amount</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            }
                        } 
                    </div>
                </section>

                <section class="aktif">
                    <div class="detail-img" id="viski">
                        <h1 class="title-b">VİSKİLER</h1>
                        <img src="~/images/viski.jpg" alt="">
                    </div>
            
                    <div class="detail-wrapper">
                        @foreach(var item in Model)
                        {
                            if(item.tabloId == 15)
                            {
                                <div class="detail-card">
                                    <div class="detail-desc">
                                        <div class="detail-name">
                                            <h4>@item.Name</h4>
                                            <p class="detail-sub">@item.Description</p>
                                            <p class="price">@item.Amount</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            }
                        } 
                    </div>
                </section>

                <section class="aktif">
                    <div class="detail-img" id="cin">
                        <h1 class="title-b">CİNLER</h1>
                        <img src="~/images/gin.jpg" alt="">
                    </div>
            
                    <div class="detail-wrapper">
                        @foreach(var item in Model)
                                {
                                    if(item.tabloId == 16)
                                    {
                                        <div class="detail-card">
                                            <div class="detail-desc">
                                                <div class="detail-name">
                                                    <h4>@item.Name</h4>
                                                    <p class="detail-sub">@item.Description</p>
                                                    <p class="price">@item.Amount</p>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    }
                                } 
                    </div>
                </section>

                <section class="aktif">
                    <div class="detail-img" id="ks">
                        <h1 class="title-b">KOKTEYL / SHOTLAR</h1>
                        <img src="~/images/menu-img/shot-1.jpg" alt="">
                    </div>
            
                    <div class="detail-wrapper">
                        @foreach(var item in Model)
                                {
                                    if(item.tabloId == 17)
                                    {
                                        <div class="detail-card">
                                            <div class="detail-desc">
                                                <div class="detail-name">
                                                    <h4>@item.Name</h4>
                                                    <p class="detail-sub">@item.Description</p>
                                                    <p class="price">@item.Amount</p>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    }
                                } 
                    </div>
                </section>
            </div>