@model List<Urun>
@{
    Layout = "_LayoutMenu";
}
@section style {
    <style>
        
        #extra{
            background-color: var(--bg-color);
            color: var(--witeColor);
        }

        #extra #icon{
            background-color: var(--icon-bg);
        }
    </style>
}

@section idExtra {
    id="extra"
}

@section iconExtra {
    id="icon"
}

<hr class="divider">
<div class="sub-menu">
    <ul>
        <li><a class="active" href="#cerez">Çerezler</a></li>
        <li><a href="#tatli">Tatlılar</a></li>
    </ul>
</div>
</div>

<!---------menu food list---------->
<div class="main-detail" id="detail">
<h2 class="main-title">Extralar</h2>
<div class="detail-card" id="cerez">aa</div>
<section>
    <div class="detail-img"id="cerez">
        <h1 class="title-b">ÇEREZLER</h1>
        <img src="~/images/cerez2.jpg" alt="">
    </div>
    
    <div class="detail-wrapper">
        @foreach(var item in Model)
        {
            if(item.tabloId == 20)
            {
                <div class="detail-card">
                    <div class="detail-desc">
                        <div class="detail-name">
                            <h4>@item.Name</h4>
                            <p class="detail-sub">@item.Description</p>
                            <p class="price">@item.Amount</p>
                        </div>
                        
                    </div>
                </div>
            }
        } 
    </div>
</section>

<section class="aktif">
    <div class="detail-img"id="tatli">
        <h1 class="title-b">TATLILAR</h1>
        <img src="~/images/tatli.jpg" alt="">
    </div>

    <div class="detail-wrapper">
        @foreach(var item in Model)
                                {
                                    if(item.tabloId == 21)
                                    {
                                        <div class="detail-card">
                                            <div class="detail-desc">
                                                <div class="detail-name">
                                                    <h4>@item.Name</h4>
                                                    <p class="detail-sub">@item.Description</p>
                                                    <p class="price">@item.Amount</p>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    }
                                } 
    </div>
</section>
</div>
