@model List<Urun>
@{
    Layout = "_LayoutMenu";
}
@section style {
    <style>
        #icecek{
            background-color: var(--bg-color);
            color: var(--witeColor);
        }

        #icecek #icon{
            background-color: var(--icon-bg);
        }
        
    </style>
}

@section idIcecekler {
    id="icecek"
}

@section iconIcecekler {
    id="icon"
}

<hr class="divider">
<div class="sub-menu">
    <ul>
        <li><a class="active" href="#sicak">Sıcak İçecekler</a></li>
        <li><a href="#soguk">Soğuk İçecekler</a></li>
    </ul>
</div>
</div>

<!---------menu food list---------->
<div class="main-detail ic-detail" id="ic-detail">
<h2 class="main-title">İçecekler</h2>
<div class="detail-card" id="sicak">aa</div>

<section>
    <div class="detail-img"id="sicak">
        <h1 class="title-b">SICAK İÇECEKLER</h1>
        <img src="~/images/sicak.jpg" alt="">
    </div>
    
    <div class="detail-wrapper">
        @foreach(var item in Model)
        {
            if(item.tabloId == 18)
            {
                <div class="detail-card">
                    <div class="detail-desc">
                        <div class="detail-name">
                            <h4>@item.Name</h4>
                            <p class="detail-sub">@item.Description</p>
                            <p class="price">@item.Amount</p>
                        </div>
                        
                    </div>
                </div>
            }
        } 
    </div>
</section>

<section class="aktif">
    <div class="detail-img"id="soguk">
        <h1 class="title-b">SOĞUK İÇECEKLER</h1>
        <img src="~/images/sogukicecek.jpg" alt="">
    </div>

    <div class="detail-wrapper">
        @foreach(var item in Model)
        {
            if(item.tabloId == 19)
            {
                <div class="detail-card">
                    <div class="detail-desc">
                        <div class="detail-name">
                            <h4>@item.Name</h4>
                            <p class="detail-sub">@item.Description</p>
                            <p class="price">@item.Amount</p>
                        </div>
                        
                    </div>
                </div>
            }
        } 
    </div>
</section>
</div>
